<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row
style="justify-content: center;margin-top: 5%;"
>
Please Login here
</ion-row>
<form style="padding: 1%">
<ion-item>
<ion-input
  type="email"
  placeholder="Enter Email"
  required
></ion-input>
</ion-item>
<ion-item>
<ion-input
  type="password"
  placeholder="Enter Password"
  required
></ion-input>
</ion-item>
<ion-item lines="none">
<ion-button
  style="margin-left: auto;margin-right: auto;"
  fill="outline"
  type="submit"
  size="medium"
  color="tertiary-tint"
  routerLink="/admin">Login</ion-button>
</ion-item>

<ion-row
style="justify-content: center;margin-top: 5%;"
>
<ion-row>--- OR ---</ion-row>
</ion-row>
<ion-row  >
  <ion-col><ion-button expand="block" fill="outline" color="danger"  routerLink="/admin">Google +</ion-button></ion-col>

  <ion-col><ion-button expand="block" fill="outline" color="tertiary"  routerLink="/admin">Facebook</ion-button></ion-col>
</ion-row>
</form></ion-card>
</ion-content>
