<ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
    <ion-buttons slot="start">
            
      <ion-back-button defaultHref="/"></ion-back-button>
    
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content
   
  >
     <ion-item>
      <ion-label>Enter State</ion-label>
      <ion-select  placeholder="Select One" >
        <ion-select-option value="f">Gujarat</ion-select-option>
        <ion-select-option value="m">Uttar Pradesh</ion-select-option>

      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Enter City</ion-label>
      <ion-select  placeholder="Select One" >
        <ion-select-option value="f">Bhavnagar</ion-select-option>
        <ion-select-option value="m">Rajkot</ion-select-option>
        <ion-select-option value="h">Vadodara</ion-select-option>
        <ion-select-option value="h">Surat</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Enter Services</ion-label>
      <ion-select  placeholder="Select One" >
        <ion-select-option value="o">Oxygen</ion-select-option>
        <ion-select-option value="m">Tiffins</ion-select-option>
        <ion-select-option value="h">Beds</ion-select-option>
        <ion-select-option value="a">Plasma</ion-select-option>
        <ion-select-option value="s">Aaya or Nanny</ion-select-option>
        <ion-select-option value="d">Ambulance</ion-select-option>
        <ion-select-option value="r">Doctors on call</ion-select-option>
        <ion-select-option value="d">Mental Health</ion-select-option>
        <ion-select-option value="n">Home Isolation</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
    <ion-input placeholder="Enter Title"></ion-input>
    </ion-item>
    <ion-item>
    <ion-input placeholder="Enter Description"></ion-input>
    </ion-item>
    <ion-item>
    <ion-row>
        <ion-col>
        <ion-input placeholder="Enter Name"></ion-input>
            </ion-col>              <ion-col><ion-input type="number" placeholder="Enter Number"></ion-input></ion-col>
    </ion-row>
    </ion-item>
    <ion-item>
    <ion-row>
        <ion-col>
        <ion-input placeholder="Enter Name"></ion-input>
            </ion-col>              <ion-col><ion-input type="number" placeholder="Enter Number"></ion-input></ion-col>
    </ion-row>
    </ion-item>
    <ion-item>
    <ion-row>
        <ion-col>
        <ion-input placeholder="Enter Name"></ion-input>
            </ion-col>              <ion-col><ion-input type="number" placeholder="Enter Number"></ion-input></ion-col>
    </ion-row>
    </ion-item>
    <ion-item>
    <ion-row>
        <ion-col>
        <ion-input placeholder="Enter Name"></ion-input>
            </ion-col>              <ion-col><ion-input type="number" placeholder="Enter Number"></ion-input></ion-col>
    </ion-row>
    </ion-item>
    <ion-item lines="none">
<ion-button
  style="margin-left: auto;margin-right: auto;"
  fill="outline"
  type="submit"
  size="medium"
  color="tertiary-tint"
  >Submit</ion-button>
</ion-item>

</ion-content>
