<ion-header>
  <ion-toolbar>
    <!-- <ion-title>list</ion-title> -->
    <ion-buttons slot="start">
            
      <ion-back-button text="Back to Home" defaultHref="/"></ion-back-button>
    
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <ion-searchbar placeholder="Search here" color="success-tint" ></ion-searchbar>
          
              <ion-list>
                <ion-row>
                  <ion-col size="12" size-lg="6">
                    <ion-card  >
                      <ion-card-header>
                    
                    <ion-card-title>Title comes here</ion-card-title>
                      </ion-card-header>
                  <ion-card-content>
                    Keep close to Nature's heart... and break clear away, once in awhile,
                    and climb a mountain or spend a week in the woods. Wash your spirit clean.
                    <ion-row><h4 style="font-weight: bold;color: black;">Name :&nbsp;</h4>&nbsp; <a>+91-9823456678</a></ion-row>
                    <ion-row><h4 style="font-weight: bold;color: black;">Name :&nbsp;</h4>&nbsp; <a>+91-9823456678</a></ion-row>
                    <ion-row><h4 style="font-weight: bold;color: black;">Name :&nbsp;</h4>&nbsp; <a>+91-9823456678</a></ion-row>
                  </ion-card-content>
        </ion-card>
                  </ion-col>
                  <ion-col size="12" size-lg="6">
                    <ion-card  >
                      <ion-card-header>
                    
                    <ion-card-title>Title comes here</ion-card-title>
                      </ion-card-header>
                  <ion-card-content>
                    Keep close to Nature's heart... and break clear away, once in awhile,
                    and climb a mountain or spend a week in the woods. Wash your spirit clean.
                    <ion-row><h4 style="font-weight: bold;color: black;">Name :&nbsp;</h4>&nbsp; <a>+91-9823456678</a></ion-row>
                    <ion-row><h4 style="font-weight: bold;color: black;">Name :&nbsp;</h4>&nbsp; <a>+91-9823456678</a></ion-row>
                    <ion-row><h4 style="font-weight: bold;color: black;">Name :&nbsp;</h4>&nbsp; <a>+91-9823456678</a></ion-row>
                  </ion-card-content>
        </ion-card>
                  </ion-col>
                  <ion-col size="12" size-lg="6">
                    <ion-card  >
                      <ion-card-header>
                    
                    <ion-card-title>Title comes here</ion-card-title>
                      </ion-card-header>
                  <ion-card-content>
                    Keep close to Nature's heart... and break clear away, once in awhile,
                    and climb a mountain or spend a week in the woods. Wash your spirit clean.
                    <ion-row><h4 style="font-weight: bold;color: black;">Name :&nbsp;</h4>&nbsp; <a>+91-9823456678</a></ion-row>
                    <ion-row><h4 style="font-weight: bold;color: black;">Name :&nbsp;</h4>&nbsp; <a>+91-9823456678</a></ion-row>
                    <ion-row><h4 style="font-weight: bold;color: black;">Name :&nbsp;</h4>&nbsp; <a>+91-9823456678</a></ion-row>
                  </ion-card-content>
        </ion-card>
                  </ion-col>
                  <ion-col size="12" size-lg="6">
                    <ion-card  >
                      <ion-card-header>
                    
                    <ion-card-title>Title comes here</ion-card-title>
                      </ion-card-header>
                  <ion-card-content>
                    Keep close to Nature's heart... and break clear away, once in awhile,
                    and climb a mountain or spend a week in the woods. Wash your spirit clean.
                    <ion-row><h4 style="font-weight: bold;color: black;">Name :&nbsp;</h4>&nbsp; <a>+91-9823456678</a></ion-row>
                    <ion-row><h4 style="font-weight: bold;color: black;">Name :&nbsp;</h4>&nbsp; <a>+91-9823456678</a></ion-row>
                    <ion-row><h4 style="font-weight: bold;color: black;">Name :&nbsp;</h4>&nbsp; <a>+91-9823456678</a></ion-row>
                  </ion-card-content>
        </ion-card>
                  </ion-col>
                </ion-row>
              

              </ion-list>
         
  
</ion-content>
